<div class="wrapper">
    <div class="scoreboard-outer">
      <span class="team-name one">Score</span>
      <div class="score-panel">
        <span class="score team1">{{score}}</span>
      </div>
    </div>
  </div>