@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.scoreboard-outer {
  display: flex;
  width: 270px;
  height: 40px;
  top:50px;
  left: 15%;
  background-color: #53e2d4;
}

.team-name,
.score {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  line-height: 40px; /*same as scoreboard-outers height*/
  text-align: center;
}

.team-name {
  flex: 1;
  padding: 0px 8px;
  color: white;
  letter-spacing: 0.5px;
  background-color: #311149;
}

.score-panel {
  flex: 1.2;
  font-weight: 900;
  text-align: center;
}

.scoreboard-outer::before {
  width: 8px;
  height: 40px; /*same as scoreboard-outers height*/
  content: " ";
  background-color: #6cabdd;
}

.scoreboard-outer::after {
  width: 8px;
  height: 40px; /*same as scoreboard-outers height*/
  content: " ";
  background-color: #da291c;
}
