
.correta {
    background: #c8e6c9;
    color: #256029;
	border-radius: 2px;
	padding: 0.25em 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;
}

.errada {
    background: #df7045;
    color: #0a0200;
	border-radius: 2px;
	padding: 0.25em 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;
}

.p-datatable .p-datatable-header {
    background: #eff3f8;
    color: #708da9;
    border: 1 px solid #dfe7ef;
    border-width: 1 px 0 1 px 0;
    padding: 1 rem 1 rem;
    font-weight: 700;
}