<div class="center" style="width: 99.99%;">
    <p-table
        #dt
        [value]="historico"
        dataKey="id"
        styleClass="p-datatable-customers">
        <ng-template pTemplate="caption">
            <div
                class="
                    p-d-flex p-flex-column p-flex-md-row p-jc-md-between
                    table-header">
                <h5 class="p-m-0">Histórico</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 110px; text-align: center;">Resposta</th>
                <th style="width: 130px; text-align: center">Verbo</th>
                <th>Definição</th>
                <th>Portugễs</th>
                <th>Combination</th>
                <th>Sua Resposta</th>
                <th>Resposta correta</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-register>
            <tr>
                <td style="text-align: center;"><span [class]="register.statusAnswer">{{ register.statusAnswer}}</span></td>
                <td style="text-align: center">
                    {{ register.verb.infinitive }}
                </td>
                <td>
                    {{ register.verb.dictionaryDefinition }}
                </td>
                <td>
                    <ng-container *ngFor="let meaning of register.verb.portugueseMeanings">
                        {{ meaning }}&nbsp;/&nbsp;
                    </ng-container>
                </td>
                <td>
                    {{ register.combination}}
                </td>
                <td *ngIf="register.yourAnswer; else naoRespondido">
                    {{ register.yourAnswer }}
                </td>
                <ng-template #naoRespondido>
                    <td>Não respondido</td>
                </ng-template>
                <td>
                    {{ register.correctAnswer }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                No total há {{ historico ? historico.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>
