.top-actions-game {
    background-color: rgb(249, 249, 249);
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 13%) 0px 0px 2px;
    color: black;
    margin-bottom: 60px;
}

nav .brand-logo {
    color: #136a8a;
    position: relative;
    font-size: 1.5rem;
}

.button-close {
    top: -33%;
}

@media (max-width: 1366px) {
    .top-actions-game {
        margin-bottom: 15px;
    }

    nav {
        height: 55px;
        line-height: 55px;
    }

    .button-close {
        top: -25%;
    }
}