<div style="height: 100%;">
    <nav class="top-actions-game lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <button pButton pRipple type="button" icon="pi pi-times" [routerLink]="['/app/home']"
                class="p-button-rounded p-button-secondary p-button-outlined button-close button-close">
            </button>
            <a id="logo-container" [routerLink]="" class="brand-logo" style="margin-left: 10px;">{{gameName}}</a>
        </div>
    </nav>
    
    <router-outlet></router-outlet>
</div>