@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
a:hover {
    text-decoration: none;
    color: #0250c5;
}

button {
    outline: none !important;
    border: none;
    background: 0 0;
}
button:hover {
    cursor: pointer;
}

.txt1 {
    font-family: Raleway;
    font-size: 16px;
    color: #e3f2fd;
    line-height: 1.4;
}

.hov1:hover {
    border-color: #0250c5;
}
.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #0250c5;
    background: linear-gradient(to bottom, #ffffff, #afafd1, #9393ba);
    position: relative;
    align-content: center;
    justify-items: center;
    z-index: 1;
}
.container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../../../assets/images/login/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-login {
    width: 450px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.wrap-login {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.50);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login-form-title {
    font-family: Raleway;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}
.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
}
.input {
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 62px;
    border-radius: 3px;
    padding: 0 30px 0 65px;
}
.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-form-btn {
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 62px;
    border-radius: 3px;
    background: #0250c5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.login-form-btn:hover {
    background: #333;
}

.divider {
    border: 0px;
    background: rgb(235, 235, 235);
    height: 2px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.ou {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ou_text {
    font-weight: 600;
    font-size: 1.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.btn-google {
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-google {
    color: #555;
}
.btn-google img {
    width: 19px;
    margin-right: 10px;
    padding-bottom: 1px;
}
.p-t-25 {
    padding-top: 25px;
}

.p-t-42 {
    padding-top: 42px;
}

.p-t-77 {
    padding-top: 77px;
}

.p-b-22 {
    padding-bottom: 22px;
}

.p-b-30 {
    padding-bottom: 30px;
}
.p-b-55 {
    padding-bottom: 55px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-l-4 {
    margin-left: 4px;
}

@media (max-width: 1366px) {
    .p-t-77 {
        padding-top: 30px;
    }

    .p-t-25 {
        padding-top: 15px;
    }

    .p-t-42 {
        padding-top: 20px;
    }

    .p-b-22 {
        padding-bottom: 20px;
    }

    .m-b-10 {
        margin-bottom: 0;
    }

    .login-form-btn {
        height: 50px;
    }
}

.text-center {
    text-align: center;
}
.w-full {
    width: 100%;
}

.policy {
    margin-top: 20px;
    font-size: 13px
}
