<div class="container-login">
    <div class="wrap-login p-l-50 p-r-50 p-t-77 p-b-30">
        <ng-container *ngIf="!isNewRegister; else register">
            <form [formGroup]="loginForm" class="login-form">
            <span class="login-form-title p-b-55"> Login </span>
                <div
                    class="wrap-input validate-input m-b-16"
                >
                    <input
                        class="input"
                        type="text"
                        name="email"
                        placeholder="Email"
                        formControlName="email"
                    />
                    <app-form-message *ngIf="loginForm.get('email').hasError('required') 
                    && loginForm.get('email').touched" 
                        text="campo obrigatório">
                    </app-form-message>
                    <app-form-message *ngIf="loginForm.get('email').hasError('pattern') 
                    && loginForm.get('email').touched" 
                        text="Formato de email inválido">
                    </app-form-message>
                </div>
                <div
                    class="wrap-input validate-input m-b-16"
                >
                    <input
                        class="input"
                        type="password"
                        name="pass"
                        placeholder="Senha"
                        formControlName="senha"
                    />
                    <app-form-message *ngIf="loginForm.get('senha').hasError('required') 
                    && loginForm.get('senha').touched" 
                    text="campo obrigatório">
                    </app-form-message>
                </div>
                <div class="m-l-4">
                    <a class="txt1 hov1" [routerLink]="" (click)="isRescueModalVisible = true"> Recuperar senha </a>
                </div>
                <div class="container-login-form-btn p-t-25">
                    <button [disabled]="loginForm.invalid" class="login-form-btn" (click)="loginEmailAndPassword()">Login</button>
                </div>
            </form>
        </ng-container>
        <ng-template #register>
            <form [formGroup]="registerForm" class="login-form">
                <span class="login-form-title p-b-55">Crie sua conta </span>
                <span></span>
                    <div
                        class="wrap-input validate-input m-b-16"
                    >
                        <input
                            class="input"
                            type="text"
                            name="email"
                            placeholder="Digite o email para sua conta"
                            formControlName="email"
                        />
                        <app-form-message *ngIf="loginForm.get('email').hasError('required') 
                        && loginForm.get('email').touched" 
                            text="campo obrigatório">
                        </app-form-message>
                        <app-form-message *ngIf="loginForm.get('email').hasError('pattern') 
                        && loginForm.get('email').touched" 
                            text="Formato de email inválido">
                        </app-form-message>
                    </div>
                    <div
                        class="wrap-input validate-input m-b-16"
                    >
                        <input
                            class="input"
                            type="password"
                            name="pass"
                            placeholder="Crie uma senha"
                            formControlName="senha"
                        />
                        <app-form-message *ngIf="loginForm.get('senha').hasError('required') 
                        && loginForm.get('senha').touched" 
                        text="campo obrigatório">
                        </app-form-message>
                    </div>
                    <div class="m-l-4">
                        <a class="txt1 hov1" [routerLink]="['/login']">Voltar para Login </a>
                    </div>
                    <div class="container-login-form-btn p-t-25">
                        <button [disabled]="registerForm.invalid" class="login-form-btn" 
                        (click)="createUSerWithEmailAndPassword()">Criar conta</button>
                    </div>
                </form>
        </ng-template>
            <div class="text-center w-full p-t-42 p-b-22">
                <div class="ou">
                    <hr class="divider">
                        <p class="ou_text txt1">Ou logue com</p>
                    <hr class="divider"></div>
            </div>
            <div class="text-center w-full p-b-22">
                <a [routerLink]="" class="btn-google m-b-10" (click)="loginGoogle()">
                    <img src="../../../../assets/images/login/icon-google.png" alt="GOOGLE" />
                    Google
                </a>
            </div>
            <div class="text-center w-full p-t-115" *ngIf="!isNewRegister; else isLogin">
                <span class="txt1"> Não é membro? </span>
                <a class="txt1 hov1" [routerLink]="['/register']">Criar conta</a>
            </div>
            <ng-template #isLogin>
                <div class="text-center w-full p-t-115">
                    <span class="txt1"> Voltar para tela de </span>
                    <a class="txt1 hov1" [routerLink]="['/login']">Login</a>
                </div>
            </ng-template>
    </div>
    <div class="center policy">
        Ao entrar no Luisa, você concorda com os nossos <b><a [routerLink]="['/terms-of-use']">Termos</a>
        </b> e <b><a [routerLink]="['/privacy-policy']"> Política de Privacidade</a></b>.
    </div>
</div>

<!-- Modal -->
<p-dialog header="Recuperação de senha" [(visible)]="isRescueModalVisible" [style]="{width: '50vw'}">
    <form [formGroup]="rescuePasswordForm">
        <input
        class="input"
        type="text"
        name="email"
        placeholder="Email para recuperação de senha"
        formControlName="email"/>
        <app-form-message *ngIf="loginForm.get('email').hasError('required') 
        && loginForm.get('email').touched" 
         text="campo obrigatório">
        </app-form-message>
        <app-form-message *ngIf="loginForm.get('email').hasError('pattern') 
        && loginForm.get('email').touched" 
         text="Formato de email inválido">
        </app-form-message>
    </form>

    <div class="container-login-form-btn p-t-25">
        <button [disabled]="rescuePasswordForm.invalid" class="login-form-btn" 
        (click)="rescuePassword()">Recuperar</button>
    </div>
</p-dialog>
