<section [ngStyle]="{'display': displayValue ? displayValue : 'none'}">
    <nav class="top-actions-game lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo" style="margin-left: 10px;">
                <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
                Sua conta de amail ainda não foi verificada, 
                verifique o seu email e evite o cancelamento da sua conta.
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a style="text-decoration: underline; color: black;" [routerLink]="" (click)="resendEmailVerification()">reenviar link</a>
                    </li>
                    <li>
                        <a style="text-decoration: underline; color: black;" [routerLink]="" (click)="ignore()"> ignorar</a>
                    </li>
                </ul>
            </a>
        </div>
    </nav>
</section>