nav {
    background-color: beige;
}
nav .brand-logo {
    position: absolute;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    padding: 0;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 45px;
    line-height: 45px;
}