<div class="container">
  <br><br>
  <h1 class="header center">Termos de uso do serviço</h1>
  <div class="row">
    <h5 class="col s12 light">1. Geral</h5>
    <p class="paragrafo col s12 light text-content">
      Os sites da plataforma Luisa e serviços relacionados (juntamente com os Sites, o “Serviço”) 
      são operados pela Arsanfelus, LTDA. 
      O acesso e uso do Serviço estão sujeitos aos seguintes Termos e Condições do Serviço.
      Ao acessar ou usar qualquer parte do Serviço, você declara que leu, compreendeu e concorda em obedecer a estes Termos e Condições,
      incluindo quaisquer modificações futuras. O Duolingo pode corrigir, atualizar ou alterar estes Termos e Condições. Se fizermos isso, 
      publicaremos um aviso informando que fizemos alterações a estes Termos e Condições nos Sites por pelo menos 7 dias após a publicação 
      das alterações e indicaremos na parte inferior dos Termos e Condições a data em que esses termos foram publicados pela última vez revisado. 
      Quaisquer revisões destes Termos e Condições entrarão em vigor o mais cedo (i) o final desse período de 7 dias ou (ii)
      a primeira vez que você acessar ou usar o Serviço após tais alterações. Se você não concorda em cumprir estes Termos e Condições, 
      você não está autorizado a usar, acessar ou participar do Serviço.
    </p>
    <h5 clas="col s12 light">2. Descrição do serviço</h5>
    <p class="paragrafo col s12 light text-content">
      O Serviço permite que os usuários acessem e usem uma variedade de serviços educacionais, 
      incluindo aprender ou praticar um idioma. 
      O Luisa pode, a seu exclusivo critério e a qualquer momento, atualizar, alterar, suspender, 
      fazer melhorias ou descontinuar qualquer aspecto do Serviço, temporária ou permanentemente.
    </p>
  </div>
  <div class="row center">
    <a [routerLink]="['/app/home']" id="download-button" class="btn-large waves-effect waves-light">Voltar</a>
  </div>
  <br><br>

</div>