<div class="design-wrapper layout-menu-horizontal">

    <div class="topbar">
        <div class="topbar-main">
            <a href="/">
                <!-- <img alt="main logo" src="assets/layout/images/logo-main.png" class="logo"> -->
            </a>
    
            <div class="app-name">
                <a href="/">Luisa</a>
            </div>

            <ng-container *ngIf="(this.user$ | async) as user">
                <a href="#" id="user-display" (click)="onTopbarMenuButtonClick($event)">
                    <span class="username">{{user.displayName}}</span>
                    <span class="userrole">Menu</span>
                        <img *ngIf="user.photoURL; else defaultFoto" 
                        src="{{user.photoURL}}" alt="foto do usuário">
                        <ng-template #defaultFoto>
                            <img src="https://esllibrary.s3.amazonaws.com/uploads/default/avatar/image/8/koala02.png" alt="foto do usuário">
                        </ng-template>
                </a>
            </ng-container>
    
    
            <ul id="topbar-menu" class="fadeInDown animated" [ngClass]="{'topbar-menu-visible': topbarMenuActive}">
                <li #profile [ngClass]="{'menuitem-active':activeTopbarItem === profile}">
                    <a href="#" (click)="onTopbarItemClick($event, profile)">
                        <i class="topbar-icon pi pi-fw pi-user"></i>
                        <span class="topbar-item-name">Minha conta</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a [routerLink]="" (click)="goToProfile()">
                                <i class="pi pi-fw pi-user"></i>
                                <span>Perfil</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a>
                                <i class="pi pi-fw pi-cog"></i>
                                <span>Configurações</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" (click)="logout()">
                        <i class="pi pi-fw pi-sign-out"></i>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- <app-menu></app-menu> -->
    </div>
    <router-outlet></router-outlet>
</div>
<div class="footer clearfix row valign-wrapper">
    <div class="col s4">
        <!-- <img src="assets/layout/images/logo-dark.png" alt="logo" /> -->
        <span class="app-name">Luisa</span>
    </div>
    <div class="col s4 center">
        <span ><a [routerLink]="['/terms-of-use']">Termos de uso</a></span>
        <span style="margin-left: 15px;"><a [routerLink]="['/privacy-policy']">Política de privacidade</a></span>
    </div>
    <div class="footer-right col s4">
        <a href="https://github.com/lucioleandro" target="blank"><i class="pi pi-github"></i></a>
        <a href="http://twitter.com/ellucion" target="blank"><i class="pi pi-twitter"></i></a>
        <span>Arsanfelus - Todos os direitos reservados - 2021</span>
    </div>
</div>

    