
<div class="landing-wrapper">
    <div id="header">
        <div class="header-top">
            <div style="margin-top:20px;display: inline-block;">
                <a class="morpheus-logo-link" href="dashboard.html">
                    <!-- <img src="" class="morpheus-logo"> -->
                    <span class="morpheus-logo-text">
                        Luisa
                    </span>
                </a>
            </div>

            <a id="menu-button" href="#">
                <img src="../../../../assets/layout/images/icon-menu.svg" alt="Menu">
            </a>

            <ul id="menu" class="animated fadeInDown">
                <li>
                    <a [routerLink]="" (click)="onClickScroll('features')">Funcionalidades</a>
                </li>
                <li>
                    <a [routerLink]="" (click)="onClickScroll('pricing')">Planos</a>
                </li>
                <li>
                    <a [routerLink]="" (click)="onClickScroll('video')">Vídeo</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </div>

        <div class="header-content">
            <h1>Luisa Lab</h1>
            <h2>Usamos ciência cognitiva para ajudar pessoas a melhorarem suas habilidades em inglês</h2>
            <div>
                <button type="button" 
                class="p-button p-button-secondary" [routerLink]="['/login']">
                    <span class="p-button-text">Login</span>
                </button>
                <button type="button" class="p-button p-button-secondary">
                    <span class="p-button-text" [routerLink]="['/register']">Crie sua conta</span>
                </button>
            </div>
        </div>
    </div>

    <div id="information">
        <div class="landing-container promotion-container">
            <div class="p-col-12 p-md-6 CenterMobile">
                <h2 class="information-header">Acessível</h2>
                <p class="information-content">
                    Há mais de 1,2 bilhões de pessoas aprendendo um idioma e a maioria delas 
                    está fazendo isso para ter acesso a oportunidades melhores. 
                    Infelizmente, aprender um idioma é caro e inacessível para a maioria aqui no Brasil <br><br>
                    Nós criamos o Luisa Lab para que todos possam ter uma oportunidade, e ajudar 
                    principalmente aqueles que não são detentores de grandes riquesas, a serem detentores
                    de grande conhecimento.
                    Ensino de idiomas gratuito: sem taxas ocultas, sem conteúdo premium, simplesmente gratuito.
                </p>
            </div>
        </div>
        <img src="../../../../assets/images/landing/martian-green.png" id="screen">
    </div>

    <div id="features">
        <div>
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <img src="../../../../assets/images/landing/small-fertilizer2x.png">
                    <h3>CIÊNCIA COGNITIVA</h3>
                    <p>
                        Usamos ciência cognitiva para ajudar pessoas a melhorarem suas habilidades em inglês
                    </p>
                </div>
                <div class="p-col-12 p-md-4">
                    <img src="../../../../assets/images/landing/small-plant-wait2x.png">
                    <h3>FEEDBACK DE DESEMPENHO</h3>
                    <p>
                        Não importa o seu nível de habilidade, 
                        o treinamento eficiente começa com uma compreensão profunda 
                        de seus pontos fortes e fracos.
                    </p>
                </div>
                <div class="p-col-12 p-md-4">
                    <img src="../../../../assets/images/landing/small-easy-to-collect2x.png">
                    <h3>PRÁTICA PERSONALIZADA</h3>
                    <p>Nosso software primeiro aprende onde você se sobressai e onde precisa melhorar e, 
                        em seguida, se adapta em tempo real para ajudá-lo a melhorar e com mais rapidez.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pricing">
        <div>
            <div class="p-grid">
                <div class="p-col-12">
                    <h1 style="border-bottom:none;">Premium</h1>
                    <p style="font-size: 16px; color:white">Temos a missão de não ter conteúdo premium, porém oferecemos planos
                    em troca de alguns benefícios, como não visualizar propagandas durante o estudo. e jogos exclusivos<br><br>
                    
                    Saiba que assinando um plano, além de ter benefícios, você estará nos ajudando a manter a educação gratuíta,
                    e nos motivando a sempre entregar novos e melhores conteúdos</p>


                </div>
                <div class="p-col-12 p-md-6">
                    <div class="price-type">
                        <h3>Premium</h3>
                        <span class="price">40</span>
                        <span class="currency">R$</span>
                        <span class="term">Mensal</span>
                        <ul>
                            <li>Livre de propagandas</li>
                            <li>Jogos exclusivos</li>
                        </ul>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="price-type">
                        <h3>Premium</h3>
                        <span class="price" style="color:#ef8316;">400</span>
                        <span class="currency" style="color:#ef8316;">R$</span>
                        <span class="term">Anual</span>
                        <ul>
                            <li>Livre de propagandas</li>
                            <li>Jogos exclusivos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="video">
        <div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/c1syA2pBCEU" title="YouTube video player" 
                frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
        </div>
    </div>

    <div id="footer">
        <div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <h3>Endereço</h3>
                    <p>
                        Vale do Silêncio,<br>
                         <br>
                        00, Salvador-BA
                    </p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <h3>Redes Sociais</h3>
                    <ul style="list-style-type: none;padding: 0;line-height: 1.5;">
                        <li><i class="pi pi-caret-right" aria-hidden="true" style="margin-right:10px;"></i>twitter
                        </li>
                        <li><i class="pi pi-caret-right" aria-hidden="true" style="margin-right:10px;"></i>facebook
                        </li>
                        <li><i class="pi pi-caret-right" aria-hidden="true" style="margin-right:10px;"></i>linkedin
                        </li>
                    </ul>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <h3>E-MAIL</h3>
                    <p>arsanfelus@gmail.com</p>
                </div>
                <div class="p-col-12">
                    <p>
                        Arsanfelus - Todos os direitos reservados, 2021
                    </p>
                    <a href="#">Termos de Uso</a><span class="link-divider">|</span>
                    <a href="#">Privacidade</a>
                </div>
            </div>
        </div>
    </div>
</div>