.p-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: -1rem;
}
.p-grid > .p-col,
.p-grid > [class*="p-col"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 1rem;
}
.p-col-12 {
    width: 100%;
}

.p-md-4,
.p-md-6,
.p-lg-3 {
    padding: 1rem;
}
@media screen and (min-width: 768px) {
    .p-md-4,
    .p-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .p-md-4 {
        width: 33.3333%;
    }
    .p-md-6 {
        width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .p-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .p-lg-3 {
        width: 25%;
    }
}

.p-field.p-grid > label {
    display: flex;
    align-items: center;
}
.p-field.p-grid,
.p-formgrid.p-grid {
    margin-top: 0;
}

.p-grid .p-col-12 {
    padding-top: 0;
    padding-bottom: 0;

}