.levelMenu-header-user-points-xp-name {
    color: #03c2e0
}

.pointsGrid--small .pointsGrid-cell--high-score {
    background-color: #29e2ff
}

.pointsGrid--small .pointsGrid-cell--medium-score {
    background-color: #32a7e5
}

.pointsGrid--small .pointsGrid-cell--low-score {
    background-color: #169ec2
}

.pointsGrid--small .pointsGrid-cell--no-score {
    background-color: #3d608f
}

.headerUnlogged-cta-text {
    background-color: #051932;
    color: #fff
}

.headerUnlogged-cta-button {
    background-color: #a3ffbf;
    color: #051932;
    border-radius: 19px;
    padding: 10px 19px;
    font-weight: 600;
    letter-spacing: .5px
}

.headerUnlogged-login {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 19px;
    padding: 9px 15px;
    font-weight: 600;
    letter-spacing: .5px
}

.signup-invite-cta {
    background-color: #2a7ae4;
    color: #fff
}

.signup-invite-cta-text {
    font-size: 16px
}

.signup-invite-cta-button {
    background-color: #fff;
    color: #2a7ae4;
    border-radius: 19px;
    padding: 10px 8px;
    letter-spacing: .5px;
    font-size: 10px
}

.banner {
    background: #093364
}

@media(min-width:425px) {
    .headerUnlogged-cta-button {
        padding: 10px 30px;
        margin-right: 12px
    }

    .headerUnlogged-login {
        padding: 9px 20px
    }

    .signup-invite-cta-button {
        padding: 10px 18px;
        font-size: 12px
    }
}

.profile {
    font-family: Open Sans, sans-serif;
    color: #747c81
}

.profile-title {
    text-align: center;
    font-size: 22px;
    letter-spacing: -.5px;
    font-weight: 600
}

.profile-title-link {
    text-decoration: none;
    color: inherit
}

.profile-link-admin {
    color: #747c81
}

.profile-header {
    text-align: center;
    background-color: #fff;
    padding: 45px 0 35px
}

.profile-header-avatarAndEdit {
    position: relative;
    display: inline-block
}

.profile-header-edit {
    position: absolute;
    bottom: -15px;
    right: calc(50% - 15px)
}

.profile-header-avatar {
    width: 120px;
    border-radius: 50%;
    border: 6px solid #32a7e5
}

.profile-header-name {
    display: block;
    margin: 20px auto 0;
    font-weight: 800;
    line-height: 1.33;
    max-width: 580px
}

.profile-link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-position: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    order: 2
}

.profile-PORTFOLIO {
    order: 1;
    width: 28px;
    height: 28px;
    margin: 3px;
    border: 1px solid #32a7e5
}

.profile-LINKEDIN {
    background-image: url(/assets/images/profile/icon-linkedin-big.svg);
    background-size: 24px 24px
}

.profile-GITHUB {
    background-image: url(/assets/images/profile/icon-github-big.svg);
    background-size: 26px 26px
}

.profile-TWITTER {
    background-image: url(/assets/images/profile/icon-twitter-big.svg);
    background-size: 32px 32px
}

.profile-PORTFOLIO {
    background-size: cover
}

.profile-INSTAGRAM {
    background-image: url(/assets/images/profile/icon-instagram-big.svg);
    background-size: 32px 32px
}

.profile-YOUTUBE {
    background-image: url(/assets/images/profile/icon-youtube-big.svg);
    background-size: 36px 36px
}

.profile-description {
    display: none
}

.profile-header-bio {
    display: block;
    margin: 15px auto 0;
    max-width: 600px
}

.profile-user-guides {
    margin: 40px auto 10px
}

.profile-info {
    background-color: #32a7e5;
    color: #fff;
    padding: 28px 20px;
    font-size: 1.07em
}

.profile-info-item {
    margin-bottom: 15px
}

.profile-info-item:before {
    content: "";
    display: inline-block;
    background: no-repeat 50%;
    vertical-align: middle;
    margin-right: 8px;
    background-size: 25px 25px;
    width: 25px;
    height: 25px
}

.profile-info-item-ranking:before {
    background-image: url(/assets/images/profile/icon-ranking.svg)
}

.profile-info-item-points:before {
    background-image: url(/assets/images/profile/icon-points.svg)
}

.profile-info-item-finishedCourses:before {
    background-image: url(/assets/images/profile/icon-courses.svg)
}

.profile-info-item-solvedExercises:before {
    background-image: url(/assets/images/profile/icon-exercises.svg)
}

.profile-info-item-solvedTopics:before {
    background-image: url(/assets/images/profile/icon-forum-solved.svg)
}

.profile-info-item-forumPosts:before {
    background-image: url(/assets/images/profile/icon-forum-posts.svg)
}

.profile-finishedCareers {
    margin-top: 30px
}

.profile-finishedCourses {
    padding-bottom: 55px
}

.profile-finishedProjects {
    padding-bottom: 0
}

.profile-item-link {
    color: #fff
}

.profile-activity {
    position: relative;
    text-align: center;
    margin-top: 70px
}

.profile-title-activity {
    display: block;
    margin: 0 auto;
    width: 100%;
    transform: translateY(-50%)
}

.profile-title-activity span {
    background: #f9fbfd;
    padding: 0 1.5em;
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase
}

.profile-activity-pointsGrid {
    display: inline-block;
    border: 2px solid #eaf2f6;
    max-width: 300px
}

.profile-finishedCourses .profile-title {
    display: block;
    width: 100%
}

.profile-finishedCourses {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.profile-createdCourses-list,
.profile-finishedCareers-list,
.profile-finishedCourses-list {
    font-size: 0
}

.profile-finishedCourses-list {
    margin: 20px 0 30px
}

.profile-finishedProjects-list {
    margin: 20px 0 0
}

.profile-finishedCourses-list--inactive {
    max-height: 552px;
    overflow: hidden
}

.profile-finishedCareers-list--inactive {
    max-height: 1060px;
    overflow: hidden
}

.profile-finishedCourses-btn-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.profile-finishedCourses-btn-sort {
    width: 187px;
    font-size: .8em;
    margin: 10px auto 0;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #32a7e5;
    transition: opacity .3s;
    background-color: #32a7e5;
    padding: 6px 15px;
    opacity: .5
}

.profile-finishedCourses-btn-sort:first-child {
    margin-top: 0
}

.profile-finishedCourses-btn--active {
    opacity: 1
}

.profile-fullCertificate {
    padding-bottom: 40px
}

.profile-fullCertificate-link {
    text-decoration: none;
    font-weight: 700;
    color: #747c81
}

.profile-createdCourses {
    position: relative;
    padding-bottom: 60px
}

.profile-createdCourses-title {
    padding-bottom: 15px;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800
}

.profile-createdCourses-list {
    margin-top: 20px
}

.profile-createdCourses-list .course-card {
    justify-content: center
}

.profile-header-roleLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0
}

#emptyCareerCard-1,
#emptyCareerCard-2,
#emptyCareerCard-3 {
    display: none
}

.emptyCareerCard.emptyCareerCard {
    margin-top: 15px
}

.profile-info-list {
    font-size: .89em
}

.seeMoreButton {
    margin-top: 0
}

.seeMoreButton span {
    background-color: #f9fbfd;
    width: 300px;
    color: #c5d2dc;
    font-size: 12px
}

@media (min-width:480px) {
    .profile-activity-pointsGrid {
        max-width: 450px
    }

    .profile-info-list {
        font-size: 1em
    }
}

@media (min-width:600px) {
    .profile-title {
        text-align: left
    }

    .profile-createdCourses-list,
    .profile-finishedCareers-list,
    .profile-finishedCourses-list {
        text-align: left;
        display: flex;
        flex-wrap: wrap
    }

    .profile-finishedCourses-btn-group {
        flex-direction: row;
        justify-content: flex-start
    }

    .profile-finishedCourses-btn-sort {
        margin: 0 10px 0 0;
        width: unset;
        font-size: 1em
    }

    .profile-finishedCourses-btn-sort:first-child {
        margin-left: 0
    }

    #emptyCareerCard-1 {
        display: flex
    }

    .emptyCareerCard.emptyCareerCard {
        margin: 20px 2.4% 0 0
    }

    .emptyCareerCard:nth-child(2n) {
        margin-right: 0
    }

    .profile-finishedCourses {
        margin-top: 60px
    }

    .profile-finishedCourses-list--inactive {
        max-height: 277px
    }

    .profile-finishedCareers-list--inactive {
        max-height: 300px
    }
}

@media (min-width:620px) {
    .profile-info-item {
        display: inline-block;
        width: 49%
    }
}

@media (min-width:680px) {
    .profile-activity-pointsGrid {
        max-width: 650px
    }

    .profile-finishedCareers {
        margin-top: 70px
    }
}

@media (min-width:916px) {
    #emptyCareerCard-2 {
        display: flex
    }

    .emptyCareerCard.emptyCareerCard {
        margin: 20px 2.2% 0 0
    }

    .emptyCareerCard:nth-child(3n) {
        margin-right: 0
    }

    .profile-info-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        margin: 0 auto;
        max-width: 1200px
    }

    .profile-info-item {
        text-align: center;
        margin-bottom: 0
    }

    .profile-info-item-number,
    .profile-info-item-text,
    .profile-info-item:before {
        display: block;
        width: 100%;
        margin: 0 auto
    }

    .profile-info-item-text {
        font-size: 15px
    }

    .profile-info-item-number {
        font-size: 24px
    }

    .profile-info-item:before {
        margin-bottom: 5px
    }

    .profile-info-list {
        width: 70%
    }

    .profile-info-item {
        width: 10%
    }

    .profile-info-item-ranking,
    .profile-info-item-solvedTopics {
        width: 15%
    }
}

@media (min-width:1200px) {
    .profile-finishedCourses-list--inactive {
        max-height: 132px
    }
}

@media (min-width:1222px) {
    #emptyCareerCard-3 {
        display: flex
    }

    .emptyCareerCard.emptyCareerCard {
        margin: 20px 1.5% 0 0
    }

    .emptyCareerCard.emptyCareerCard:nth-child(4n) {
        margin-right: 0
    }
}

.course-btn-sort:focus {
    background-color: #747c81
}

.banner {
    font-family: Open Sans, sans-serif;
    background: #a1b0c0
}

[data-product=aluralingua] .banner {
    background-color: #344861;
    font-weight: 800
}

[data-product=aluralingua] .banner-title {
    border: none;
    font-size: 1.5em;
    padding: .875em 0;
    color: #f7f8f9
}

.banner-title {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em 0;
    letter-spacing: -1.2px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff
}

.banner-title-link {
    font-size: 1em;
    font-family: Open Sans, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: inherit
}

.banner .container {
    display: flex;
    align-items: center
}

.banner-title__other-link {
    color: #fff;
    font-size: 13.33px;
    margin-left: 3%;
    font-weight: 700
}

.beta-badge {
    text-transform: lowercase;
    font-size: .5em;
    font-weight: 600;
    border: 1px solid;
    padding: .125em .5em;
    letter-spacing: .1em;
    border-radius: 4px;
    position: relative;
    top: -1em;
    transition: .2s ease-in;
    color: inherit
}

.beta-badge:focus,
.beta-badge:hover {
    background-color: #fff;
    border-color: #fff;
    color: #6d7a86
}