<ng-container *ngIf="(this.user$ | async) as user">
    <section class="banner bootcamp-banner-background-theme">
        <div class="container">
            <h1 class="banner-title">
                Meu Perfil
            </h1>
        </div>
    </section>
    <main class="profile bootcamp-background-dark">
        <section class="profile-header bootcamp-background-dark">
            <div class="container">
                <div class="profile-header-avatarAndEdit">
                    <img *ngIf="user.photoURL; else defaultFoto" class="profile-header-avatar" src="{{user.photoURL}}"
                        style="border-color: #2A7AE4" alt="foto do usuário">
                    <ng-template #defaultFoto>
                        <img class="profile-header-avatar"
                            src="https://esllibrary.s3.amazonaws.com/uploads/default/avatar/image/8/koala02.png"
                            style="border-color: #2A7AE4" alt="foto do usuário">
                    </ng-template>
                </div>
                <h2 class="profile-header-name">{{user.displayName}}</h2>
    
                <div class="profile-header-bio bootcamp-text-color-gray"></div>
    
            </div>
        </section>
    
        <section class="profile-info bootcamp-banner-background-theme">
            <ul class="profile-info-list">
    
    
                <li class="profile-info-item profile-info-item-ranking">
                    <a class="profile-item-link">
                        <strong class="profile-info-item-number">10000º</strong>
                        <span class="profile-info-item-text">Conquista 1</span>
                    </a>
                </li>
    
                <li class="profile-info-item profile-info-item-points">
                    <strong class="profile-info-item-number">Insignia</strong>
                    <span class="profile-info-item-text">
                        conquistou insignia de não sei oq
                    </span>
                </li>
    
                <li class="profile-info-item profile-info-item-finishedCourses">
                    <strong class="profile-info-item-number">101</strong>
                    <span class="profile-info-item-text">
                        Dalmatas
                    </span>
                </li>
                <li class="profile-info-item profile-info-item-solvedExercises">
                    <strong class="profile-info-item-number">1</strong>
                    <span>
                        Maratona San Silvestre
                    </span>
                </li>
    
                <li class="profile-info-item profile-info-item-solvedTopics">
                    <a class="profile-item-link">
                        <strong class="profile-info-item-number">3x</strong>
                        <span class="profile-info-item-text">
                            Vencedor do Ranking semanal
                        </span>
                    </a>
                </li>
                <li class="profile-info-item profile-info-item-forumPosts">
                    <a class="profile-item-link">
                        <strong class="profile-info-item-number">10</strong>
                        <span class="profile-info-item-text">
                            perfect
                        </span>
                    </a>
                </li>
    
            </ul>
        </section>
    </main>
</ng-container>