<app-email-confirm-warning></app-email-confirm-warning>
<div class="content">
    <ng-container *ngIf="(this.authService.idTokenResult() | async) as token">
        <button *ngIf="!token.claims?.stripeRole; else jaMembro"
            pButton type="button" label="Seja Premium" (click)="openPremiumPlanModal()" >
        </button>
        <ng-template #jaMembro>
            <p-tag value="Conta Premium"></p-tag>
        </ng-template>
    </ng-container>
    
    <main class="category">
        <app-game-list [gamesMap]="listOfGamesMap"></app-game-list>
    </main>
</div>
<p-dialog #dialog header="Seja Membro" 
[(visible)]="memberModalVisible"  >
    <app-select-premim-plan [dialog]="dialog"></app-select-premim-plan>
</p-dialog>