<p-blockUI [blocked]="loadingBlock">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<div class="container">
    <br><br>
    <h1 class="header center back-text">Registre-se</h1>
    <div class="row center">
      <h5 class="header col s12 light">Quase lá ! Para completar o seu cadastro precisamos das suas seguintes informações:</h5>
    </div>
    <div class="row" *ngIf="user; else loading">
        <form [formGroup]="newUserForm">
            <div class="row">
                <div class="input-field">
                    <input placeholder="Nome e Sobre nome" id="name" type="text" 
                    class="validate" formControlName="name" [(ngModel)]="user.name">
                    <label class="label active" for="name">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="" id="email" type="text" 
                    class="validate" formControlName="email" [(ngModel)]="user.email">
                    <label class="label active" for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="" id="birthdate" type="date" 
                    class="datepicker" formControlName="birthdate" [(ngModel)]="user.birthDate">
                    <label class="label active" for="navigators">Data Nascimento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="" id="state" type="text" 
                    class="validate" formControlName="state" [(ngModel)]="user.state">
                    <label class="label active" for="state">Estado</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="" id="city" type="text" 
                    class="validate" formControlName="city" [(ngModel)]="user.city">
                    <label class="label active" for="city">Cidade</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="" id="gender" type="text" 
                    class="validate" formControlName="gender" [(ngModel)]="user.gender">
                    <label class="label active" for="gender">Gênero</label>
                </div>
            </div>
        </form>
        <div class="row">
            <button [disabled]="this.newUserForm.invalid" (click)="register()" id="download-button" class="btn-large waves-effect waves-light">Registrar</button>
            <button (click)="cancel()" id="download-button" class="btn-large waves-effect waves-light" style="margin-left:5px">Cancelar</button>
        </div>
    </div>
    <ng-template #loading>
        <div class="row center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
        </div>
    </ng-template>
    <br><br>
  </div>
