$color-a: #8360c3;
$color-b: #2ebf91;

.card-div {
  background: linear-gradient(to right, $color-a, $color-b);
  height: 10rem;
  padding: 2% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
 
  
  .card-div-title {
    flex: 100%;
    clear:both;
    text-align: center;
    font-size: 1.5rem;
    color: #eee;
    text-shadow: 1px 1px 5px #333;
  }
  .card-plan {
    background-color: white;
    margin-top: 40px !important;
    padding: 2rem;
    border-radius: 3px;
    text-align:center;
    font-size: 1.5rem;
    transition: transform 0.5s;
    box-shadow: 0px 2px 10px -5px #333;
    flex: 1;
    margin: 1rem;
    
    .card-header {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    .card-subheader {
      letter-spacing: 1px;
    }
    
    .card-pricing {
      font-size: 4rem;
      color: $color-b;
      padding: 15px 0px;
      
      .recurring {
        text-transform: uppercase;
        color: #999;
        font-weight: 200;
        font-size: 0.8rem;
        display:block;
      }
    }
    
    .card-features {
      list-style-type: none;
      color: #777;
      font-size:1.2rem;
    }
  }
}