<p-blockUI [blocked]="loadingBlock">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<div class="row center">
    <section class="card-div">
        <div class="card-div-title">
          <h1>Luisa Premium</h1>
        </div>
        <div class="card-plan">
          <h2 class="card-header">Premium Mensal</h2>
          <p class="card-pricing">R$ 40,00<span class="recurring"> Mensal</span></p>
          <h3 class="card-subheader">Vantagens</h3>
          <ul class="card-features">
            <li>Jogos exclusivos</li>
            <li>Livre de anuncio</li>
        </ul>
        <button pButton type="button" label="Seja Premium" (click)="subscribe('mensal')"></button>
    </div>
        <div class="card-plan">
          <h2 class="card-header">Premium Anual</h2>
          <p class="card-pricing">R$ 400,00<span class="recurring">Anual</span></p>
          <h3 class="card-subheader">Vantagens</h3>
          <ul class="card-features">
            <li>Jogos exclusivos</li>
            <li>Livre de anuncio</li>
        </ul>
        <button pButton type="button" label="Seja Premium" (click)="subscribe('anual')"></button>
        </div>
      </section>
</div>