<div class="container">
  <br><br>
  <h1 class="header center">Política de Privacidade</h1>
  <div class="row">
    <h5 class="header col s12 light text-content">1. General</h5>
    <p class="paragrafo col s12 light text-content">
      Na Luisa, nos preocupamos com seus dados pessoais, por isso preparamos esta Política de Privacidade para explicar como os coletamos, 
      usamos e compartilhamos. Esta Política de Privacidade detalha os dados pessoais que a Arsanfelus, LTDA. 
      recebe sobre você, como os processamos e seus direitos e obrigações em relação a seus dados pessoais. 
      Arsanfelus, LTDA., uma empresa registrada em Salvador - BA, Brasil Penn Ave, Second Floor, Pittsburgh, PA 15206, Estados Unidos da América, 
      é o controlador de dados para os fins do Regulamento Geral de Proteção de Dados ("LGPD") e qualquer legislação local relevante 
      (" Leis de proteção de dados ”). Ao usar ou acessar o Serviço, você concorda com os termos desta Política de Privacidade. 
      Os termos em maiúsculas não definidos aqui têm os significados estabelecidos nos termos e condições (os “Termos e Condições”), 
      localizados em www.luisa.com
    </p>
  </div>
  <div class="row center">
    <a [routerLink]="['/app/home']" class="btn-large waves-effect waves-light">Voltar</a>
  </div>
  <br><br>

</div>