button[icon="pi pi-angle-double-right"],
button[icon="pi pi-angle-double-left"] {
display: none !important;
}

@media (min-width: 1025px) {
    .layout-wrapper.layout-menu-horizontal .layout-content {
        padding-top: 60px;
    }
}


