.p-datatable .p-datatable-header {
    background: #eff3f8 !important;
    color: #708da9 !important;
    border: 1px solid #dfe7ef !important;
    border-width: 1px 0 1px 0 !important;
    padding: 1rem 1rem !important;
    font-weight: 700 !important;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left !important;
    padding: 1rem 1rem !important;
    border: 1px solid #dfe7ef !important;
    border-width: 0 0 1px 0 !important;
    font-weight: 700 !important;
    color: #708da9 !important;
    background: #eff3f8 !important;
    transition: box-shadow 0.2s !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: left !important;
    border: 1px solid #dfe7ef !important;
    padding: 1rem 1rem !important;
}