/* Predefined Colors */
/* lato-300 - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v11-latin-ext_latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato-v11-latin-ext_latin-300.eot#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/lato-v11-latin-ext_latin-300.woff") format("woff"), url("../fonts/lato-v11-latin-ext_latin-300.ttf") format("truetype"), url("../fonts/lato-v11-latin-ext_latin-300.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-regular - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin-ext_latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin-ext_latin-regular.woff") format("woff"), url("../fonts/lato-v11-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin-ext_latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-700 - latin-ext_latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v11-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v11-latin-ext_latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/lato-v11-latin-ext_latin-700.woff") format("woff"), url("../fonts/lato-v11-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/lato-v11-latin-ext_latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* Add your variable customizations of layout here */
.splash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
}
.splash-screen .splash-loader {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}
.splash-screen .splash-loader > div {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}
.splash-screen .splash-loader > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3d5f7b;
  animation: splash-loader-anim 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.splash-screen .splash-loader > div.splash-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.splash-screen .splash-loader > div.splash-cube2:before {
  animation-delay: 0.3s;
}
.splash-screen .splash-loader > div.splash-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.splash-screen .splash-loader > div.splash-cube3:before {
  animation-delay: 0.6s;
}
.splash-screen .splash-loader > div.splash-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.splash-screen .splash-loader > div.splash-cube4:before {
  animation-delay: 0.9s;
}

@keyframes splash-loader-anim {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #f7f9fa;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.p-toast.p-toast-top-right, .p-toast.p-toast-top-left, .p-toast.p-toast-top-center {
  top: 20px;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.exception-body {
  background-color: #6d6d7e;
  box-sizing: border-box;
  background: radial-gradient(circle at 50% 100%, #6d6d7e, #3b3b48);
  padding-top: 100px;
  border-top: 10px solid #e96d66;
  height: 100vh;
}
.exception-body .exception-panel {
  background-color: #f7f7f7;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.exception-body .exception-panel img {
  width: 128px;
}
.exception-body .exception-panel h1 {
  font-size: 22px;
  color: #2d353c;
  margin-top: 50px;
  margin-bottom: 10px;
}
.exception-body .exception-panel p {
  font-size: 15px;
  margin: 0 0 30px 0px;
  color: #6a6a7d;
}

@media (max-width: 640px) {
  .exception-body {
    padding-top: 80px;
  }
  .exception-body .exception-panel {
    width: 100%;
    padding: 50px;
  }
}
html {
  height: 100%;
  font-size: 13px;
}

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #2d353c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #eaeff2;
}
body a {
  text-decoration: none;
  color: #136a8a;
}

.design-wrapper {
  min-height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
}

.design-wrapper .topbar {
  background-color: #136a8a;
  background-image: -webkit-gradient(linear, left top, right top, from(#136a8a), to(#267871));
  background-image: -webkit-linear-gradient(left, #136a8a, #267871);
  background-image: -moz-linear-gradient(left, #136a8a, #267871);
  background-image: -ms-linear-gradient(left, #136a8a, #267871);
  background-image: -o-linear-gradient(left, #136a8a, #267871);
  background-image: linear-gradient(to right, #136a8a, #267871);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#136a8a", endColorstr="#267871", gradientType="1");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  padding: 0 32px 0 0;
  position: relative;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
.design-wrapper .topbar .logo {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}
.design-wrapper .topbar .app-name {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
  margin-left: 8px;
  font-weight: bold;
}
.design-wrapper .topbar .app-name a {
  color: #ffffff;
}
.design-wrapper .topbar #user-display {
  display: block;
  float: right;
  color: #ffffff;
  position: relative;
  padding-top: 2px;
  text-align: right;
  margin-top: 10px;
}
.design-wrapper .topbar #user-display img {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 2px;
  border: 2px solid #0d526b;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.design-wrapper .topbar #user-display .username {
  margin-top: 1px;
}
.design-wrapper .topbar #user-display .userrole {
  color: #daecef;
}
.design-wrapper .topbar #user-display span {
  display: block;
  margin-right: 48px;
}
.design-wrapper .topbar #user-display:hover img {
  border-color: #daecef;
}
.design-wrapper .topbar #topbar-menu {
  display: none;
  position: absolute;
  right: 32px;
  top: 60px;
  width: 250px;
  z-index: 1001;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #0d526b;
  border: solid 1px #0d526b;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.design-wrapper .topbar #topbar-menu.topbar-menu-visible {
  display: block;
}
.design-wrapper .topbar #topbar-menu li a {
  padding: 10px 14px;
  display: block;
  color: #daecef;
}
.design-wrapper .topbar #topbar-menu li a i {
  display: inline-block;
  vertical-align: middle;
}
.design-wrapper .topbar #topbar-menu li a span {
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
.design-wrapper .topbar #topbar-menu li a img {
  display: inline-block;
  vertical-align: middle;
}
.design-wrapper .topbar #topbar-menu li a .topbar-badge {
  float: right;
  background-color: #bf4a4a;
  color: #f0d1d0;
  padding: 2px 8px;
  display: block;
  margin-top: -2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.design-wrapper .topbar #topbar-menu li a:hover {
  background-color: #37a3b3;
  color: #ffffff;
}
.design-wrapper .topbar #topbar-menu li ul {
  list-style-type: none;
  padding: 0 0 0 15px;
  margin: 0;
  display: none;
}
.design-wrapper .topbar #topbar-menu li.menuitem-active > ul {
  display: block;
}
.design-wrapper .topbar #topbar-menu li.search-item div {
  padding: 8px;
  position: relative;
}
.design-wrapper .topbar #topbar-menu li.search-item div input {
  background-color: #f5f8f9;
  border: 1px solid #f5f8f9;
  padding: 6px 28px 6px 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.design-wrapper .topbar #topbar-menu li.search-item div input:focus {
  outline: 0 none;
  border-color: #a8b4be;
}
.design-wrapper .topbar #topbar-menu li.search-item div span {
  position: absolute;
  color: #647585;
  top: 14px;
  right: 16px;
  font-size: 16px;
}
.footer {
  background-color: #f5f8f9;
  padding: 10px 32px 0 32px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0 !important;
}
.footer img {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}
.footer .app-name {
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-right {
  float: right;
  text-align: right;
  color: #647585;
}
.footer .footer-right a {
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  color: #647585;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer .footer-right a i {
  font-size: 16px;
}
.footer .footer-right a:hover {
  color: #8c9ba9;
}
.footer .footer-right span {
  display: block;
  margin-top: 4px;
}
@media (min-width: 1025px) {
  .design-wrapper.layout-menu-horizontal .topbar {
    height: auto;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .design-wrapper.layout-menu-horizontal .topbar .topbar-main {
    padding: 8px 32px;
  }
  .design-wrapper.layout-menu-horizontal .topbar .logo {
    margin-left: 0;
  }
  .design-wrapper.layout-menu-horizontal .topbar #user-display {
    margin-top: 0;
  }
  .design-wrapper.layout-menu-horizontal .topbar #topbar-menu {
    top: 56px;
  }

}
@media (max-width: 640px) {
  .design-wrapper .topbar #user-display span {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}