<div class="card2">
    <div class="content">
        <div class="top">
            <p>{{ verb.infinitive }}</p>
            <div class="color"></div>
        </div>
        <div class="middle">
            <div>
                <p *ngIf="timeOver" style="font-size: 18px; color: red;">time over</p>
            </div>
            <span class="timer">{{this.timer}}</span>
        </div>
        <div class="bottom">
            <div>
                <p>pronoun</p>
                <p>{{ pronoun }}</p>
            </div>
            <div>
                <p>tense</p>
                <p>{{ tense }}</p>
            </div>
            <div>
                <p>mode</p>
                <p>{{ mode }}</p>
            </div>
        </div>
    </div>
  </div>
  <div>
    <textarea pInputTextarea #textArea
    [ngClass]="{'tempo-normal': this.timer > 4, 'tempo-acabando': this.timer <= 4}"
    (keypress)="sendAnswer($event)" [disabled]="timeOver"></textarea>
  </div>
