@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
	font-family: DS-DIGIT;
	src: url(../../../../../../assets/fonts/ds_digital/DS-DIGIT.TTF)
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
  width: 300px;
  background: linear-gradient(#30496B, #30B8D2);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin: auto;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 92%;
  width: 91%;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
}

.content > .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-color: rgb(249, 249, 249);
}
.content > .top p {
  font-weight: bold;
  font-size: 20px;
}
.content > .top .color {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #136a8a;
}

.content > .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  background: linear-gradient(#30496B, #30B8D2 75%);
  padding-left: 15px;
  padding-right: 15px;
}
.content > .middle img {
  width: 34%;
}
.content > .middle div > p:first-child {
  margin-bottom: 5px;
  font-size: 12px;
}
.content > .middle div > p:last-child {
  margin: 0;
  font-weight: bold;
}

.content > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.content > .bottom2  h3 {
  font: 1em sans-serif;
  font-weight: bold;
  margin-bottom: 1px;
}

.content > .bottom2 {
  justify-content: space-between;
  height: 65%;
  padding-left: 5px;
  padding-right: 1px;
  text-align: left;
}
.content > .bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > .bottom div p:first-child {
  font-weight: bold;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2rem;
}

.p-button.p-button-icon-only {
  width: 2rem;
  padding: 0.5rem 0;
}

.actions-button {
  bottom: -10px;
}

.timer {
  font-family: DS-DIGIT;
  font-size: 45px;
  color: #005a63;
}

.tempo-normal {
  border-color: #007ad9;
}

.tempo-acabando {
  border-color: #a80000;
}

.tempo-acabando:enabled:focus {
  border-color: #a80000;
  box-shadow: 0 0 0 0.1rem #a80000;
}

.p-inputtext {
  width: 300px;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
}