*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    overflow-x: hidden
}

body {
    min-width: 320px;
    background-color: #f9fbfd
}

body,
input,
select,
textarea {
    font: normal 14px Lato, Arial, sans-serif
}

img {
    max-width: 100%;
    border: 0
}

ul {
    list-style: none
}

a {
    outline: none
}

blockquote {
    margin-bottom: .8em;
    padding-left: 1em;
    padding-top: .5em;
    background-color: #eee
}

@media print {

    body,
    html {
        height: auto
    }
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    overflow-x: hidden
}

body {
    min-width: 320px;
    background-color: #f9fbfd
}

body,
input,
select,
textarea {
    font: normal 14px Lato, Arial, sans-serif
}

img {
    max-width: 100%;
    border: 0
}

ul {
    list-style: none
}

a {
    outline: none
}

blockquote {
    margin-bottom: .8em;
    padding-left: 1em;
    padding-top: .5em;
    background-color: #eee
}

@media print {

    body,
    html {
        height: auto
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 1200px
}

.container {
    margin-top: 20px
}

#subcategory__anchor {
    color: inherit
}


.category__name {
    color: #6e767b;
    font-size: 21px;
    text-align: left;
    margin-top: 50px
}

.category__card-list {
    margin-top: 20px
}

* {
    box-sizing: border-box
}

.card-list__item:not(:first-child) {
    margin-top: 10px
}

@media(min-width:600px) {
    .card-list {
        display: flex;
        flex-wrap: wrap
    }

    .card-list__item {
        width: calc(50% - 7.5px)
    }

    .card-list__item:not(:first-child) {
        margin-top: 0
    }

    .card-list__item:nth-child(n+3) {
        margin-top: 15px
    }

    .card-list__item:nth-child(odd) {
        margin-right: 15px
    }
}

@media(min-width:960px) {
    .card-list__item {
        width: calc(33.33333% - 10px)
    }

    .card-list__item:nth-child(n+3) {
        margin-top: 0
    }

    .card-list__item:nth-child(odd) {
        margin-right: 0
    }

    .card-list__item:nth-child(n+4) {
        margin-top: 15px
    }

    .card-list__item:not(:nth-child(3n)) {
        margin-right: 15px
    }
}

@media(min-width:1200px) {
    .card-list__item {
        width: calc(25% - 15px)
    }

    .card-list__item:nth-child(n+4) {
        margin-top: 0
    }

    .card-list__item:not(:nth-child(3n)) {
        margin-right: 0
    }

    .card-list__item:nth-child(n+5) {
        margin-top: 20px
    }

    .card-list__item:not(:nth-child(4n)) {
        margin-right: 20px
    }
}

.course-card {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    box-shadow: 4px 4px 20px 0 rgba(120, 135, 182, .1);
    background-color: #fff;
    border: 1px solid #eff1f9;
    font-size: 14px;
    line-height: 1.36;
    color: #747c81;
    transition: all .3s ease
}

.course-card:hover {
    transform: translateY(2px);
    box-shadow: none
}

.course-card__course-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.card-list__item .course-card {
    height: 122px;
    margin-bottom: 0
}

.course-card img {
    margin-right: 17px;
    width: 100%;
    max-width: 40px
}

.course-card__content-wrapper {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
}

.course-card__progress {
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-top: 11px
}

.course-card--simple-card .course-card__progress {
    display: none
}

.course-card__bar {
    height: 7px;
    width: 100%;
    background-color: #edf1f4
}

.course-card__progress--finished:after {
    content: "";
    width: 22px;
    height: 19px;
    margin-left: 10px;
    background-size: contain
}

.course-card__content {
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%;
    padding: 0 15px 0 20px
}

.course-card__icon {
    height: 43px;
    width: 43px
}

.course-card__certificate,
.course-card__linkedin {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
    height: 16px;
    font-size: 10px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    color: #acb0b3
}

#subcategory__anchor {
    color: inherit
}

.category {
    padding-top: 50px
}

.category__name {
    color: #6e767b;
    font-size: 21px;
    text-align: left;
    margin-top: 50px
}

.category__card-list {
    margin-top: 20px
}