<div class="container">
    <ng-container *ngFor="let category of gamesMap | keyvalue; trackBy: trackByFn">
        <h2 class="category__name">
            <a id="subcategory__anchor">
                {{category.key}}
            </a>
        </h2>
        <ul class="card-list category__card-list" id="">
        <ng-container *ngFor="let game of category.value">
            <li class="card-list__item">
                <div class="course-card bootcamp-background-dark-section">
                    <a class="course-card__course-link "
                    [routerLink]="['/app/game', game.route]"></a>
            
                    <div class="course-card__progress course-card__progress--finished">
                        <div class="course-card__bar" aria-hidden="true"></div>
                    </div>
            
                    <div class="course-card__content-wrapper">
                        <div class="course-card__content">
                            <img class="course-card__icon" aria-hidden="true" alt=""
                                src="https://www.alura.com.br/assets/api/cursos/logica-programacao-javascript-html.svg">
                            <span class="course-card__name">{{game.name}}: {{game.description}}</span>
                        </div>
                    </div>
                </div>
            </li>
            </ng-container>
        </ul>
    </ng-container>