<div class="exception-body">
    <div class="exception-panel">
        <img src="assets/layout/images/icon-404.png" alt="404" />

        <h1>Página não encontrada</h1>
        <p>Página não encontrada.</p>
        <button type="button" pButton label="Voltar" [routerLink]="['app/home']" class="p-button-secondary"></button>
    </div>
</div>

