<ng-container
    *ngIf="!gameStarted; else game"
>
    <div style="margin-bottom: 70px;">
        <div class="card">
            <h2>Conjugate Verb</h2>
            <p>
                Este jogo consiste de dois jogadores, o azul e o vermelho. Os
                jogadores devem decidir suas cores.
            </p>
            <p>
                Após isto, clique em iniciar. A cor do texto que aparecerá
                indica qual jogador irá responder, quando o tempo de resposta
                acabar,
            </p>
            <p>
                manualmente deve-se indicar se o jogador respondeu corretamente
                ou não, desta forma os pontos serão contabilizados.
            </p>

            <p>
                Aparecerá na tela as seguintes informações: Verbo, tempo verbal
                e dois pronomes pessoais.
            </p>
            <p>
                desta forma o jogador deve montar as duas frases correspondendo
                o que foi pedido nas informações
            </p>
        </div>
        <div class="card">
            <div>
                <a (click)="startGame()" 
                 class="btn waves-effect 
                 waves-light">Começar</a>
                <a class="btn waves-effect  waves-light"
                    (click)="showModalDialog()"
                    style="margin-left: 5px"
                >config</a>
                <p-dialog
                    header="Game Configs"
                    [(visible)]="displayModalConfig"
                    [modal]="true"
                    [style]="{ width: '50vw' }"
                    [draggable]="false"
                    [resizable]="false"
                >
                    <form [formGroup]="this.configFormGroup">
                        <div class="p-field p-grid">
                            <label
                                for="maxrounds"
                                class="p-col-fixed"
                                style="width: 100px"
                                >Max Rounds:</label
                            >
                            <div class="p-col">
                                <input id="maxrounds" type="text" pInputText 
                                [(ngModel)]="config.maxRounds" formControlName="maxRounds" />
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label
                                for="lastname3"
                                class="p-col-fixed"
                                style="width: 100px"
                                >Answer Timeout</label
                            >
                            <div class="p-col">
                                <input id="lastname3" type="text" 
                                pInputText [(ngModel)]="config.answerTime"
                                formControlName = "answerTimeout"/>
                            </div>
                        </div>
                    </form>
                    <ng-template pTemplate="footer">
                        <p-button
                            icon="pi pi-check"
                            (click)="displayModalConfig = false"
                            label="Ok"
                            styleClass="p-button-text"
                        ></p-button>
                    </ng-template>
                </p-dialog>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #game>
    <div class="container">
        <app-score
            [score]="scoreGame"
        ></app-score>
    </div>
    <div>
        <div
            style="text-align: center"
            *ngIf="this.crurrentRound <= this.config.maxRounds; else endgame"
        >
            <div *ngIf="this.drawnVerb; else loading">
                <app-challenge
                    [verb]="drawnVerb"
                    [tense]="drawnTense"
                    [mode]="drawnMode"
                    [pronoun]="drawnPronoun"
                    [timer]="this.config.answerTime"
                    (generateNewChallenge)="processResult($event)"
                >
                </app-challenge>
            </div>
            <ng-template #loading>
                <p-progressSpinner></p-progressSpinner>
            </ng-template>
        </div>
        <ng-template #endgame>
            <ul style="list-style: none; text-align: center; padding: 0">
                <li>
                    <a [routerLink]="" (click)="finalizeGame()">Finish game</a>
                </li>
            </ul>
            <app-historic [historico]="historico"></app-historic>
        </ng-template>
    </div>
</ng-template>
