.card {
    height: auto;
    text-align: center;
}

.card {
    width: 50%;
    margin: auto;
    background-color: #eaeff2;
}

.card p{
    font-family: 'Open Sans", BlinkMacSystemFont, -apple-system, Roboto, "Segoe UI", sans-serif';
    font-size: 15px;
    line-height: 1.2;
}

.turn {
    font-weight: bold;
    position: relative;
    top: 10px;
    font-size: 18px;
}

.blue-color {
    color: #6cabdd;
}

.red-color {
    color: #da291c;
}